<!--<app-my-nav></app-my-nav>-->

<!--<main class="main">-->
<!--  <div *ngIf="reservations.length > 0; else noReservations">-->
<!--    <div class="container">-->
<!--      <div class="card my-5">-->
<!--        <div class="card-body">-->
<!--          <table class="table table-bordered table-striped">-->
<!--            <thead class="thead-dark">-->
<!--            <tr>-->
<!--              <th scope="col">#</th>-->
<!--              <th scope="col">dateTime</th>-->
<!--              <th scope="col">Event Name</th>-->
<!--              <th scope="col">Event Description</th>-->
<!--              <th scope="col">Event Location</th>-->
<!--              <th scope="col">Event Category</th>-->

<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let reservation of reservations">-->
<!--              <td>{{ reservation.id }}</td>-->
<!--              <td>{{ reservation.dateTime }}</td>-->
<!--              <td>{{ reservation.event?.name }}</td>-->
<!--              <td>{{ reservation.event?.description }}</td>-->
<!--              <td>{{ reservation.event?.location }}</td>-->
<!--              <td>{{ reservation.event?.category }}</td>-->

<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <ng-template #noReservations>-->
<!--    <p>No Reservations found.</p>-->
<!--  </ng-template>-->
<!--</main>-->
<!-- &ndash;&gt;-->
<main class="main">

  <div class="report-container">
    <div class="report-header">
        <h1 class="recent-Articles">All Reservations</h1>
        <!-- <button class="view">View All</button> -->
    </div>

    <div class="report-body">
        <div class="report-topic-heading"style="color: black;">
            <h3 class="t-op">Event Name</h3>
            <h3 class="t-op">reservation Date</h3>
            <h3 class="t-op">Event Category</h3>
            <h3 class="t-op">Event Location</h3>
        </div>

        <div class="items">
            <div class="item1" *ngFor="let reservation of reservations">
              <h3 class="t-op-nextlvl">{{ reservation.event?.name}}</h3>
              <h3 class="t-op-nextlvl">{{ reservation.dateTime | date}}</h3>
                <h3 class="t-op-nextlvl">{{ reservation.event?.category}}</h3>
                <h3 class="t-op-nextlvl">{{ reservation.event?.location}}</h3>
            </div>

           <div class="item1">
                <h3 class="t-op-nextlvl">Article 72</h3>
                <h3 class="t-op-nextlvl">1.5k</h3>
                <h3 class="t-op-nextlvl">360</h3>
                <h3 class="t-op-nextlvl label-tag">Published</h3>
            </div>

            <div class="item1">
                <h3 class="t-op-nextlvl">Article 71</h3>
                <h3 class="t-op-nextlvl">1.1k</h3>
                <h3 class="t-op-nextlvl">150</h3>
                <h3 class="t-op-nextlvl label-tag">Published</h3>
            </div>

            <div class="item1">
                <h3 class="t-op-nextlvl">Article 70</h3>
                <h3 class="t-op-nextlvl">1.2k</h3>
                <h3 class="t-op-nextlvl">420</h3>
                <h3 class="t-op-nextlvl label-tag">Published</h3>
            </div>

            <div class="item1">
                <h3 class="t-op-nextlvl">Article 69</h3>
                <h3 class="t-op-nextlvl">2.6k</h3>
                <h3 class="t-op-nextlvl">190</h3>
                <h3 class="t-op-nextlvl label-tag">Published</h3>
            </div>

            <div class="item1">
                <h3 class="t-op-nextlvl">Article 68</h3>
                <h3 class="t-op-nextlvl">1.9k</h3>
                <h3 class="t-op-nextlvl">390</h3>
                <h3 class="t-op-nextlvl label-tag">Published</h3>
            </div>

            <div class="item1">
                <h3 class="t-op-nextlvl">Article 67</h3>
                <h3 class="t-op-nextlvl">1.2k</h3>
                <h3 class="t-op-nextlvl">580</h3>
                <h3 class="t-op-nextlvl label-tag">Published</h3>
            </div>

            <div class="item1">
                <h3 class="t-op-nextlvl">Article 66</h3>
                <h3 class="t-op-nextlvl">3.6k</h3>
                <h3 class="t-op-nextlvl">160</h3>
                <h3 class="t-op-nextlvl label-tag">Published</h3>
            </div>

            <div class="item1">
                <h3 class="t-op-nextlvl">Article 65</h3>
                <h3 class="t-op-nextlvl">1.3k</h3>
                <h3 class="t-op-nextlvl">220</h3>
                <h3 class="t-op-nextlvl label-tag">Published</h3>
            </div>

        </div>
    </div>
</div>
</main>
