<!--<main class="main">-->
<!--  <div class="container">-->
<!--    <div class="card my-5">-->
<!--      <div class="card-body">-->
<!--        <table class="table table-bordered table-striped">-->
<!--          <thead class="thead-dark">-->
<!--          <tr>-->
<!--            <th scope="col">#</th>-->
<!--            <th scope="col">Email</th>-->
<!--            <th scope="col">Name</th>-->
<!--            <th scope="col">Password</th>-->
<!--            <th scope="col">Profession</th>-->
<!--            <th scope="col">Phone</th>-->

<!--            <th scope="col">Actions</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let user of users">-->
<!--            <td>{{ user.idU }}</td>-->
<!--            <td>{{ user.email }}</td>-->
<!--            <td>{{ user.name }}</td>-->
<!--            <td>{{ user.password }}</td>-->
<!--            <td>{{ user.phone }}</td>-->
<!--            <td>{{ user.profession }}</td>-->
<!--            <td>-->
<!--              <a class="btn btn-primary" [routerLink]="['/updateUser', user.idU]">Update User</a>-->
<!--              <button class="btn btn-danger" type="button" (click)="deleteUser(user.idU)">Delete</button>-->
<!--              <a class="btn btn-primary" [routerLink]="['/accounts']">View Accounts</a>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</main>-->
