<!--<mat-sidenav-container class="sidenav-container">-->
<!--  <mat-sidenav-->
<!--    #drawer-->
<!--    class="sidenav"-->
<!--    fixedInViewport="true"-->
<!--    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"-->
<!--    [mode]="(isHandset$ | async) ? 'over' : 'side'"-->
<!--    [opened]="!(isHandset$ | async)">-->
<!--    <mat-toolbar color="primary">Menu</mat-toolbar>-->
<!--    <mat-nav-list>-->
<!--      <a mat-list-item href="#">Link 1</a>-->
<!--      <a mat-list-item href="#">Link 2</a>-->
<!--      <a mat-list-item href="#">Link 3</a>-->
<!--    </mat-nav-list>-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content>-->
<!--    <mat-toolbar color="primary">-->
<!--      <button-->
<!--        type="button"-->
<!--        aria-label="Toggle sidenav"-->
<!--        mat-icon-button-->
<!--        (click)="drawer.toggle()"-->
<!--        *ngIf="isHandset$ | async">-->
<!--        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>-->
<!--      </button>-->
<!--      <span>Material-ng</span>-->
<!--    </mat-toolbar>-->
<!--    &lt;!&ndash; Add Content Here &ndash;&gt;-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->
<!-- navbar.component.html -->

<header id="header" class="header fixed-top">

  <div class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">im-events&#64;gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 1111 11111 11</span></i>
      </div>
      <div class="languages d-none d-md-flex align-items-center">
        <ul>
          <li>En</li>
          <li><a href="#">Fr</a></li>
        </ul>
      </div>
    </div>
  </div><!-- End Top Bar -->

  <div class="branding d-flex align-items-cente">

    <div class="container position-relative d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
<!--         <img src="assets/img/logo.jpg" alt="">-->
        <h1 class="sitename">IM - EVENTS</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a [routerLink]="['/home']" fragment="home" routerLinkActive="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#menu">Menu</a></li>
          <li><a href="#specials">Specials</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-book-a-table d-none d-xl-block" href="#book-a-table">Book Event</a>
      <a class="btn-book-a-table d-none d-xl-block" routerLink="/signup" routerLinkActive="active" *ngIf="isLogin()" >Sign Up</a>
      <a class="btn-book-a-table d-none d-xl-block" routerLink="/login" routerLinkActive="active">{{ isLogin() ? "login" : "logout" }}</a>

    </div>

  </div>

</header>

<!--<mat-toolbar color="primary">-->
<!--  <span>Event Management</span>-->
<!--  <span class="spacer"></span>-->
<!--  <button mat-button routerLink="/">Home</button>-->
<!--  <button mat-button routerLink="/events">Events</button>-->
<!--  <button mat-button routerLink="/about">About</button>-->
<!--  <button mat-button routerLink="/contact">Contact</button>-->
<!--  <button mat-button routerLink="/login">Login</button>-->
<!--  <button mat-button routerLink="/signup">Sign Up</button>-->
<!--</mat-toolbar>-->
