<main class="main">

<div class="signup-container">
  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" required />
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="username" id="username" formControlName="username" required />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" required />
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text" id="phone" formControlName="phone" />
    </div>
    <div class="form-group">
      <label for="address">Address:</label>
      <input type="text" id="address" formControlName="address" />
    </div>
    <button type="submit">Sign Up</button>
  </form>
</div>
</main>
<p class="tip">Click on button in image container</p>
<div class="cont">
  <div class="form sign-in">
    <h2>Welcome back,</h2>
    <label>
      <span>Email</span>
      <input type="email" />
    </label>
    <label>
      <span>Password</span>
      <input type="password" />
    </label>
    <p class="forgot-pass">Forgot password?</p>
    <button type="button" class="submit">Sign In</button>
    <button type="button" class="fb-btn">Connect with <span>facebook</span></button>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover a great amount of new opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already have an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>Time to feel like home,</h2>
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <label>
          <span>Name</span>
          <input type="text" formControlName="name" required />
        </label>
        <label>
          <span>Email</span>
          <input type="email" formControlName="email" required />
        </label>
        <label>
          <span>Password</span>
          <input type="password" formControlName="password" required />
        </label>
        <button type="submit" class="submit">Sign Up</button>
        <button type="button" class="fb-btn">Join with <span>facebook</span></button>
      </form>
    </div>
  </div>
</div>

<!--<a href="https://dribbble.com/shots/3306190-Login-Registration-form" target="_blank" class="icon-link">-->
<!--  <img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Dribbble-icon.png">-->
<!--</a>-->
<!--<a href="https://codepen.io/suez/pen/XWyBpre" target="_blank" class="link-footer">New 2023 Version</a>-->
<!--<a href="https://twitter.com/NikolayTalanov" target="_blank" class="icon-link icon-link&#45;&#45;twitter">-->
<!--  <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png">-->
<!--</a>-->
