<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter your email address" required>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter your name" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" formControlName="password" class="form-control" id="password" placeholder="Enter your password" required>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" formControlName="phone" class="form-control" id="phone" placeholder="Enter your phone" required>
        </div>
        <div class="form-group">
          <label for="profession">Profession</label>
          <input type="text" formControlName="profession" class="form-control" id="profession" placeholder="Enter your profession" required>
        </div>
        <button type="submit" [disabled]="!userForm.valid" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
</div>
